parameters:
    level: 5
    paths:
        - src
        - tests
    ignoreErrors:
        # Ignore Laravel/Lumen incompatibilites
        - '#Cannot access offset [^\s]+ on Illuminate\\Contracts\\Foundation\\Application#'
